google-api-core==1.26.3
google-python-cloud-debugger==2.17
grpcio-health-checking==1.33.2
grpcio==1.36.1
opentelemetry-api==1.0
opentelemetry-sdk==1.0
opentelemetry-exporter-gcp-trace==1.0.0
opentelemetry-propagator-gcp==1.0.0
opentelemetry-instrumentation-grpc==0.19b0
opentelemetry-instrumentation==0.19b0
python-json-logger==0.1.11
requests==2.25.1
wrapt==1.12.1
httplib2==0.19.0
urllib3==1.26.5
