bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
release/*

.token
skaffold
website/resources*
srerecipes.log

# terraform artifacts
terraform/terraform_0.11.11_linux_amd64.zip
terraform/**/terraform.*
terraform/**/.terraform/*
terraform/istio/istioctl
terraform/istio/istio-*/**
**/.terraform.lock*

# npm artifacts
**/node_modules/
package*.json