google-api-core==1.26.3
google-python-cloud-debugger==2.15
grpcio-health-checking==1.30.0
grpcio==1.36.1
jinja2==2.11.3
opentelemetry-api==0.17b0
opentelemetry-sdk==0.17b0
opentelemetry-exporter-google-cloud==0.17b0
opentelemetry-instrumentation-grpc==0.17b0
opentelemetry-instrumentation==0.17b0
python-json-logger==0.1.11
google-cloud-profiler==1.1.2
google-cloud-trace==0.24.0
requests==2.24.0
httplib2==0.19.0
