google-api-core==1.22.0
grpcio-health-checking==1.30.0
grpcio==1.30.0
jinja2==2.10
opencensus[stackdriver]==0.1.10
python-json-logger==0.1.9
google-cloud-profiler==1.1.2
google-cloud-trace==0.23.0
requests==2.24.0
