# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: "Continuous Integration"
on:
  push:
    # run on pushes to master or release/*
    branches:    
      - master
      - release/*
      - remove-smoke-test
  pull_request:
    # run on pull requests targeting master
    branches:
      - master
jobs:
  run-tests:
    runs-on: [self-hosted, kind-cluster]
    steps:
    - uses: actions/checkout@v2
    - name: License Check
      run: |
        set -x
        git init
        git add --all
        git -c user.name="CI Bot" -c user.email="<>" commit -m "initial state"
        addlicense ./
        if [[ -n $(git status -s) ]]; then
          exit 1
        fi
    - name: Test Custom Cloud Shell Image Build
      run: |
        set -x
        # build cloud shell image: it will automatically exit if there's an error in build
        docker build -t cloud-shell ./cloud-shell
    - name: Setup Cluster
      run: |
        set -x
        kind delete cluster || true
        kind create cluster
        kubectl get nodes
    - name: Deploy From Source
      run: |
        set -x
        skaffold config set --global local-cluster true
        skaffold run -p local --status-check=false
    - name: Deploy Load Generator
      run: |
        set -x
        kubectl create deployment loadgenerator \
          --image=gcr.io/stackdriver-sandbox-230822/sandbox/loadgenerator:latest
         kubectl set env deployment/loadgenerator FRONTEND_ADDR=frontend:80
    - name: Wait For Pods
      timeout-minutes: 10
      run: |
        set -x
        kubectl wait --for=condition=available --timeout=500s deployment/adservice
        kubectl wait --for=condition=available --timeout=500s deployment/cartservice
        kubectl wait --for=condition=available --timeout=500s deployment/checkoutservice
        kubectl wait --for=condition=available --timeout=500s deployment/currencyservice
        kubectl wait --for=condition=available --timeout=500s deployment/emailservice
        kubectl wait --for=condition=available --timeout=500s deployment/frontend
        kubectl wait --for=condition=available --timeout=500s deployment/loadgenerator
        kubectl wait --for=condition=available --timeout=500s deployment/paymentservice
        kubectl wait --for=condition=available --timeout=500s deployment/productcatalogservice
        kubectl wait --for=condition=available --timeout=500s deployment/recommendationservice
        kubectl wait --for=condition=available --timeout=500s deployment/shippingservice
    - name: Port Forward frontend
      run: |
        set -x
        port_forward() {
            # get name of frontend pod
            local frontend_pod=$(kubectl get pods -l=app=frontend -o=jsonpath='{.items[0].metadata.name}')
            kubectl port-forward $frontend_pod 3000:8080
        }
        port_forward &
    - name: Ping Frontend
      timeout-minutes: 5
      run: |
        set -x
        # wait for status code 200
        while [[ -z curl -I localhost:3000 | grep 200 ]]; then
            sleep 5
        done
        # ping homepage
        # should contain "Hipster Shop"
        curl --show-error --fail localhost:3000 | grep "Hipster Shop"
        # ping cart page
        curl --silent --output /dev/null --show-error --fail localhost:3000/cart
